In [330]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from scipy import stats
%matplotlib inline
import sklearn
from sklearn import metrics

In [8]:
from sklearn import linear_model

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
columns = [
    'Short_Description', 
    'Water', 
    'Energy_Kcal', 
    'Protein', 
    'Lipid_Total',
    'Ash', 
    'Carbohydrate',
    'Fiber', 
    'Sugar_Total',
    'Calcium', 
    'Iron', 
    'Magnesium', 
    'Phosphorus',
    'Potassium', 
    'Sodium', 
    'Zinc', 
    'Copper',
    'Manganese', 
    'Selenium', 
    'Vitamin_C', 
    'Thiamin',
    'Riboflavin', 
    'Niacin', 
    'Panto_Acid', 
    'Vitamin_B6',
    'Folate_Total', 
    'Folic_Acid', 
    'Food_Folate',
    'Folate_DFE', 
    'Choline_Total', 
    'Vitamin_B12', 
    'Vitamin_A_IU',
    'Vitamin_A_RAE', 
    'Retinol', 
    'Alpha_Carot', 
    'Beta_Carot',
    'Beta_Crypt', 
    'Lycopene', 
    'Lut+Zea', 
    'Vitamin_E',
    'Vitamin_D', 
    'Vitamin_D_IU', 
    'Vitamin_K', 
    'Fatty_Acid_Sat', 
    'Fatty_Acid_Mono',
    'Fatty_Acid_Poly', 
    'Cholestrl', 
    'GmWt_1', 
    'GmWt_Desc1', 
    'GmWt_2',
    'GmWt_Desc2', 
    'Refuse_Percentage'  
]

In [316]:
df_train = pd.read_csv('train.csv')
df_train.columns = columns

In [12]:
df_train.head()

,Short_Description,Water,Energy_Kcal,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,...,Vitamin_K,Fatty_Acid_Sat,Fatty_Acid_Mono,Fatty_Acid_Poly,Cholestrl,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Percentage
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,393,12.00,6.00,3.90,73.40,5.2,13.75,651.0,...,3.0,1.267,1.429,2.186,0.0,2.0,1 tbsp,15.0,.5 oz,0.0
1,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,2.4,NaN,58.0,...,NaN,0.130,0.103,0.202,0.0,146.0,1 cup,33.0,1 piece,0.0
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,196,24.06,11.09,1.56,0.00,0.0,0.00,13.0,...,0.0,2.866,4.878,1.673,130.0,89.0,1 thigh,85.0,"1 serving, (3 oz)",29.0
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,280,20.43,21.35,3.51,0.00,0.0,0.00,10.0,...,0.0,7.670,10.140,2.320,58.0,140.0,1 cup,85.0,3 oz,27.0
4,"VINEGAR,DISTILLED",94.78,18,0.00,0.00,0.02,0.04,0.0,0.04,6.0,...,0.0,0.000,0.000,0.000,0.0,14.0,1 tbsp,238.0,1 cup,0.0

In [13]:
df_train.shape

(7756, 52)

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7756 entries, 0 to 7755
Data columns (total 52 columns):
Short_Description    7756 non-null object
Water                7751 non-null float64
Energy_Kcal          7756 non-null int64
Protein              7756 non-null float64
Lipid_Total          7756 non-null float64
Ash                  7461 non-null float64
Carbohydrate         7756 non-null float64
Fiber                7168 non-null float64
Sugar_Total          6013 non-null float64
Calcium              7443 non-null float64
Iron                 7630 non-null float64
Magnesium            7139 non-null float64
Phosphorus           7234 non-null float64
Potassium            7390 non-null float64
Sodium               7681 non-null float64
Zinc                 7123 non-null float64
Copper               6630 non-null float64
Manganese            5828 non-null float64
Selenium             6175 non-null float64
Vitamin_C            7053 non-null float64
Thiamin              7138 non-null float64
Riboflavin           7156 non-null float64
Niacin               7137 non-null float64
Panto_Acid           5825 non-null float64
Vitamin_B6           6909 non-null float64
Folate_Total         6639 non-null float64
Folic_Acid           5975 non-null float64
Food_Folate          6178 non-null float64
Folate_DFE           5958 non-null float64
Choline_Total        4095 non-null float64
Vitamin_B12          6685 non-null float64
Vitamin_A_IU         7145 non-null float64
Vitamin_A_RAE        6387 non-null float64
Retinol              6134 non-null float64
Alpha_Carot          4732 non-null float64
Beta_Carot           4815 non-null float64
Beta_Crypt           4724 non-null float64
Lycopene             4701 non-null float64
Lut+Zea              4679 non-null float64
Vitamin_E            5060 non-null float64
Vitamin_D            4789 non-null float64
Vitamin_D_IU         4790 non-null float64
Vitamin_K            4475 non-null float64
Fatty_Acid_Sat       7444 non-null float64
Fatty_Acid_Mono      7149 non-null float64
Fatty_Acid_Poly      7157 non-null float64
Cholestrl            7426 non-null float64
GmWt_1               7537 non-null float64
GmWt_Desc1           7538 non-null object
GmWt_2               4317 non-null float64
GmWt_Desc2           4317 non-null object
Refuse_Percentage    7723 non-null float64
dtypes: float64(48), int64(1), object(3)
memory usage: 3.1+ MB

# ШАГ 1
Посмотреть количество пропусков и как их заполнять; проверить на наличие дубликатов.

In [17]:
quantity_nans = dict(df_train.isnull().sum())
quantity_nans_list = list(quantity_nans.items())
quantity_nans_list.sort(key = lambda x: x[1], reverse = True)
for item in quantity_nans_list:
    print(item[0],':',item[1])

Choline_Total : 3661
GmWt_2 : 3439
GmWt_Desc2 : 3439
Vitamin_K : 3281
Lut+Zea : 3077
Lycopene : 3055
Beta_Crypt : 3032
Alpha_Carot : 3024
Vitamin_D : 2967
Vitamin_D_IU : 2966
Beta_Carot : 2941
Vitamin_E : 2696
Panto_Acid : 1931
Manganese : 1928
Folate_DFE : 1798
Folic_Acid : 1781
Sugar_Total : 1743
Retinol : 1622
Selenium : 1581
Food_Folate : 1578
Vitamin_A_RAE : 1369
Copper : 1126
Folate_Total : 1117
Vitamin_B12 : 1071
Vitamin_B6 : 847
Vitamin_C : 703
Zinc : 633
Niacin : 619
Thiamin : 618
Magnesium : 617
Vitamin_A_IU : 611
Fatty_Acid_Mono : 607
Riboflavin : 600
Fatty_Acid_Poly : 599
Fiber : 588
Phosphorus : 522
Potassium : 366
Cholestrl : 330
Calcium : 313
Fatty_Acid_Sat : 312
Ash : 295
GmWt_1 : 219
GmWt_Desc1 : 218
Iron : 126
Sodium : 75
Refuse_Percentage : 33
Water : 5
Short_Description : 0
Energy_Kcal : 0
Protein : 0
Lipid_Total : 0
Carbohydrate : 0

In [18]:
np.round(100 - (df_train.dropna().shape[0] * 100 / df_train.shape[0] ))

75.0

Если мы решим удалить все пропуски, мы удалим 75% датасета, поэтому нам необходимо заполнять пропуски.

In [74]:
print('Количество дубликатов в датасете: {}'.format(df_train.shape[0] - df_train.drop_duplicates().shape[0]))

Количество дубликатов в датасете: 0

Прежде чем заполнять данные с помощью SimpleImputer, необходимо разобраться с 2 столбцами с категориальными данными. Будет оптимально взять столбцы с категориальными признаками, заполнить na в этих столбцах SimpleImputer(category='most_frequent'), затем разбить их OneHotEncoder ( может быть нужно будет сначала использовать LabelEncoder)
затем все остальные столбцы заполнить SimpleImputer()

In [22]:
from sklearn.impute import SimpleImputer

In [180]:
most_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
median = SimpleImputer(missing_values=np.nan, strategy='median')

In [181]:
X_train_categorial = df_train[['GmWt_Desc1','GmWt_Desc2']]

In [182]:
most_frequent.fit(X_train_categorial)
X_train_filled_categorial = most_frequent.transform(X_train_categorial)

In [78]:
from sklearn.preprocessing import OneHotEncoder

In [210]:
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X_train_filled_categorial)
X_train_filled_categorial_ohe  = ohe.transform(X_train_filled_categorial)
X_train_filled_categorial_ohe

<7756x1711 sparse matrix of type '<class 'numpy.float64'>'
	with 15512 stored elements in Compressed Sparse Row format>

In [184]:
X_train_filled_categorial_ohe.toarray().shape

(7756, 1711)

In [185]:
df_categorial_filled_features = pd.DataFrame(X_train_filled_categorial_ohe.toarray())

df_categorial_filled_features.columns = list(ohe.categories_[0]) + list(ohe.categories_[1])
df_categorial_filled_features.shape

(7756, 1711)

Удалим категориальные столбцы и таргет из нашего датафрейма, заменив их на X_train_filled_categorial_ohe

In [186]:
y_train = df_train['Energy_Kcal'].values
len(y_train)

7756

In [187]:
columns_to_del = ['Short_Description','GmWt_Desc1','GmWt_Desc2', 'Energy_Kcal']
for column in columns_to_del:
    if column in df_train:
        del df_train[column]
df_train.shape

(7756, 48)

In [188]:
df_train.shape, df_categorial_filled_features.shape

((7756, 48), (7756, 1711))

In [189]:
df_train_without_cat = pd.concat([df_train, df_categorial_filled_features],axis=1)
df_train_without_cat.shape

(7756, 1759)

In [190]:
df_train_without_cat

,Water,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,Iron,Magnesium,...,6 medium,6 pieces,6 saltines,7 pieces,8 crayfish,8 fl oz,"8 fl oz, (1 serving)",8 oz,"8 pods, (3"" long)",9 sprigs
0,4.70,12.00,6.00,3.90,73.40,5.2,13.75,651.0,47.50,118.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,90.20,2.52,0.62,2.04,4.62,2.4,NaN,58.0,3.13,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,63.89,24.06,11.09,1.56,0.00,0.0,0.00,13.0,0.97,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,54.73,20.43,21.35,3.51,0.00,0.0,0.00,10.0,0.95,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,94.78,0.00,0.00,0.02,0.04,0.0,0.04,6.0,0.03,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751,77.33,17.54,4.93,1.08,0.00,0.0,NaN,60.0,0.90,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7752,63.95,20.59,15.04,0.87,0.00,0.0,0.00,23.0,1.47,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7753,74.00,5.06,7.59,2.09,11.27,1.8,NaN,119.0,0.64,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7754,79.36,0.28,0.12,0.33,19.91,2.6,NaN,4.0,0.43,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7755,74.03,24.40,0.49,1.64,0.00,0.0,0.00,4.0,0.77,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [191]:
median.fit(df_train_without_cat)
X_train_prepared = median.transform(df_train_without_cat)

In [192]:
X_train_prepared

array([[ 4.7 , 12.  ,  6.  , ...,  0.  ,  0.  ,  0.  ],
       [90.2 ,  2.52,  0.62, ...,  0.  ,  0.  ,  0.  ],
       [63.89, 24.06, 11.09, ...,  0.  ,  0.  ,  0.  ],
       ...,
       [74.  ,  5.06,  7.59, ...,  0.  ,  0.  ,  0.  ],
       [79.36,  0.28,  0.12, ...,  0.  ,  0.  ,  0.  ],
       [74.03, 24.4 ,  0.49, ...,  0.  ,  0.  ,  0.  ]])

# ШАГ 2
Произведём нормировку данных

In [331]:
from sklearn import feature_selection

In [340]:
VT = feature_selection.VarianceThreshold(.001).fit(X_train_prepared)

In [341]:
X_train_VT = VT.transform(X_train_prepared)
X_train_VT.shape

(7756, 209)

In [342]:
scaler = preprocessing.StandardScaler()
scaler.fit(X_train_VT)
X_train_norm = scaler.transform(X_train_VT)

# ШАГ 3
Попробуем посчитать регрессию на наших данных X_train_prepared, y_train

In [71]:
from sklearn.model_selection import GridSearchCV

In [66]:
import xgboost

In [360]:
model = xgboost.XGBRegressor(
    learning_rate = 0.1,
    n_estimators = 1000,
    max_depth = 8,
    n_jobs = -1
)
model.fit(X_train_norm, y_train)

[14:56:52] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [361]:
metrics.mean_absolute_error(y_train, model.predict(X_train_norm))

0.09356110597960171

In [306]:
model.predict(X_train_norm)

array([394.2068  ,  29.209696, 196.61113 , ..., 133.05824 ,  75.86238 ,
       108.42767 ], dtype=float32)

# Шаг 4
Предскажем данные на тестовой выборке

In [312]:
df_test = pd.read_csv('test.csv')
df_test.columns = columns

In [228]:
df_test.head()

,Short_Description,Water,Energy_Kcal,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,...,Vitamin_K,Fatty_Acid_Sat,Fatty_Acid_Mono,Fatty_Acid_Poly,Cholestrl,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Percentage
0,SILK KEY LIME SOY YOGURT,77.59,2.35,1.18,1.24,17.65,0.6,12.35,176.0,0.64,...,0.000,NaN,NaN,0.0,170.0,1 container,NaN,NaN,0.0,NaN
1,"FAST FOODS,SALAD,VEG,TOSSED,WO/DRSNG",95.51,1.25,0.07,0.53,3.22,NaN,NaN,13.0,0.63,...,0.010,0.004,0.034,0.0,104.0,.75 cup,207.0,1.5 cup,0.0,NaN
2,"CUTTLEFISH,MXD SP,CKD,MOIST HEAT",61.12,32.48,1.40,3.36,1.64,0.0,NaN,180.0,10.84,...,0.236,0.162,0.268,224.0,85.0,3 oz,NaN,NaN,0.0,NaN
3,"GROUND TURKEY,93% LN,7% FAT,RAW",72.63,18.73,8.34,0.92,0.00,0.0,0.00,21.0,1.17,...,2.170,2.843,2.537,74.0,28.0,1 oz,453.0,1 lb,0.0,NaN
4,"TURKEY,RTL PARTS,ENHANCED,BREAST,MEAT ONLY,CKD...",69.99,27.94,2.08,1.40,0.00,0.0,0.00,15.0,0.59,...,0.428,0.670,0.668,74.0,85.0,3 oz,852.0,1 breast,24.0,NaN

In [229]:
X_test_categorial = df_test[['GmWt_1','GmWt_2']]

In [230]:
X_test_categorial.dtypes

GmWt_1    object
GmWt_2    object
dtype: object

In [231]:
most_frequent

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [232]:
X_test_filled_categorial = most_frequent.transform(X_test_categorial)

In [233]:
X_test_filled_categorial_ohe  = ohe.transform(X_test_filled_categorial)

df_categorial_filled_features_test = pd.DataFrame(X_test_filled_categorial_ohe.toarray())
df_categorial_filled_features_test.columns = list(ohe.categories_[0]) + list(ohe.categories_[1])

columns_to_del = ['Short_Description','GmWt_1','GmWt_2', 'Energy_Kcal']
for column in columns_to_del:
    if column in df_test:
        del df_test[column]

df_test.shape, df_categorial_filled_features_test.shape

((862, 48), (862, 1711))

In [234]:
df_test_without_cat = pd.concat([df_test, df_categorial_filled_features_test],axis=1)
df_test_without_cat.shape

(862, 1759)

In [236]:
df_test_without_cat

,Water,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,Iron,Magnesium,...,6 medium,6 pieces,6 saltines,7 pieces,8 crayfish,8 fl oz,"8 fl oz, (1 serving)",8 oz,"8 pods, (3"" long)",9 sprigs
0,77.59,1.18,1.24,17.65,0.6,12.35,176.0,0.64,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,95.51,0.07,0.53,3.22,NaN,NaN,13.0,0.63,11.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,61.12,1.40,3.36,1.64,0.0,NaN,180.0,10.84,60.0,580.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,72.63,8.34,0.92,0.00,0.0,0.00,21.0,1.17,21.0,193.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,69.99,2.08,1.40,0.00,0.0,0.00,15.0,0.59,27.0,219.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,7.57,4.40,4.14,72.58,8.5,20.43,124.0,3.13,113.0,358.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
858,59.24,6.48,1.24,0.00,0.0,0.00,40.0,1.47,28.0,252.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
859,87.86,0.19,1.03,9.56,1.4,4.73,22.0,0.24,11.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
860,1.70,27.20,NaN,67.60,1.8,50.10,NaN,1.60,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
861,73.52,4.56,3.63,0.00,0.0,0.00,6.0,0.94,17.0,224.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [239]:
X_test_prepared = median.transform(df_test_without_cat)

In [345]:
X_test_VT = VT.transform(X_test_prepared)
X_test_norm = scaler.transform(X_test_VT)

In [364]:
model

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [385]:
y_pred = model.predict(X_test_norm)
y_pred

array([ 72.77467  ,  17.339556 , 155.8021   , 115.86586  , 123.425125 ,
       162.32068  , 102.4706   , 106.934204 , 131.9184   , 208.18422  ,
       132.82404  ,   4.328027 , 150.81207  , 178.07687  ,  45.764423 ,
       139.50185  , 139.95163  ,  49.142254 , 171.86606  , 132.69254  ,
        64.60242  ,  91.15904  ,  79.83307  , 197.61569  , 133.18376  ,
       196.78716  , 186.03146  , 214.10733  , 146.74022  , 159.45126  ,
       162.99725  ,   1.3035507,  54.54828  ,  29.721443 ,  28.014786 ,
       193.20427  ,  45.954956 , 180.8108   , 187.80925  , 158.99802  ,
       138.63144  , 155.9268   ,  68.9503   ,  48.640965 ,  39.429806 ,
       252.1452   , 116.58816  , 130.39919  , 168.32608  , 203.45009  ,
       137.91191  , 204.00462  , 182.79825  ,  70.45662  , 185.52046  ,
       133.04897  , 144.24501  , 187.04587  ,  63.615803 , 199.90645  ,
       153.76445  ,  46.56951  ,  58.38125  ,  50.647026 , 211.80357  ,
       113.41145  , 152.93536  , 214.3247   , 143.6818   , 180.61139  ,
       173.26135  ,  25.121754 , 175.84395  , 185.43054  , 141.1875   ,
       174.14389  , 166.82103  , 111.90517  , 128.76698  , 196.01187  ,
        10.981232 ,  12.199869 ,  43.129936 , 187.27577  , 211.26526  ,
       203.12833  , 130.10483  , 135.26794  , 128.99341  , 133.36342  ,
        34.412224 ,  48.806404 ,  45.65629  , 112.87005  , 201.83972  ,
       154.0255   , 198.77545  , 216.98293  ,  95.63713  , 132.6117   ,
       178.58911  , 139.2261   , 182.27667  , 170.20158  ,  62.158928 ,
        25.47068  ,  33.61994  , 173.29381  , 191.60153  ,  59.489464 ,
       304.43918  , 159.88913  , 212.71309  , 169.98335  , 162.74155  ,
        40.02162  ,  60.913445 ,  49.36679  , 207.16058  , 143.22652  ,
       249.51181  ,  21.810774 ,  63.97256  , 223.00494  , 183.6148   ,
        94.58439  , 112.86797  , 185.83371  , 141.51039  ,  57.431103 ,
       156.2377   ,  56.96621  , 145.71571  , 257.67953  , 117.91737  ,
       182.64272  , 130.37485  , 142.4007   , 153.15802  , 146.57118  ,
       187.33578  ,  63.45758  , 142.24635  , 205.53214  , 228.7577   ,
       238.43599  ,  17.48243  , 224.80286  , 216.5945   ,  60.52552  ,
       137.13745  ,  31.923891 , 106.067314 ,  30.278053 , 168.41504  ,
       113.57125  , 280.23575  , 200.57327  , 199.35048  , 110.09068  ,
       206.70341  ,  60.96449  ,  62.84447  , 166.03978  , 147.43726  ,
        43.388344 , 133.54832  , 210.97649  , 138.91171  , 183.73607  ,
        53.301872 , 221.3705   ,  26.714819 , 135.70537  , 146.56967  ,
       147.55197  , 222.03484  , 200.52509  , 242.46512  ,  26.446177 ,
       179.62129  ,  29.452068 , 100.59208  , 258.0824   , 165.00111  ,
       230.71625  , 140.38252  , 128.03558  ,  90.66271  , 107.5975   ,
       263.31827  ,  46.600735 , 173.2789   , 104.60781  , 228.88518  ,
        91.00401  , 138.56935  , 154.07607  , 185.17407  ,  37.212402 ,
       197.74843  ,  35.352318 , 212.93517  , 119.54952  ,  53.43762  ,
       331.23288  , 197.17642  , 201.34042  , 219.00882  , 120.34683  ,
       122.241936 , 117.91238  ,  47.27429  ,  56.821064 , 118.3619   ,
        43.82527  ,  67.15931  , 208.1158   , 149.59793  , 206.02557  ,
       211.56285  , 127.10066  , 243.58899  ,  11.325159 ,  84.06207  ,
       216.67801  , 155.49748  , 168.69171  , 199.37273  , 213.91484  ,
       202.43729  , 263.7508   , 115.10259  ,  53.315365 ,  49.900665 ,
        94.90089  , 124.26701  ,  58.7284   ,  62.05483  , 642.86835  ,
       132.75294  , 244.09793  , 174.26988  , 149.1688   , 228.90353  ,
       208.72662  ,  66.49204  , 140.95451  , 169.98878  , 187.32306  ,
       153.19043  , 122.28187  , 102.29756  ,  55.617825 , 301.3229   ,
       105.5749   , 121.231415 , 174.97884  ,  73.40565  , 110.91824  ,
       192.70605  , 202.88617  ,  39.67386  ,  15.801721 , 140.91951  ,
       104.48314  , 150.93831  ,  23.392769 , 132.94972  , 150.89223  ,
        39.79994  , 330.94107  , 140.63928  , 216.6424   ,  38.327175 ,
       119.02354  ,  57.40188  ,  54.03884  , 204.47336  , 108.70832  ,
       190.61617  ,  46.266346 , 183.72917  , 216.41385  , 168.69637  ,
       165.15909  , 115.060814 ,  17.463757 , 318.87546  , 509.00696  ,
       161.7873   ,  30.641958 , 255.9851   ,  60.55878  ,  89.07695  ,
       116.30715  ,  62.699753 , 198.55315  , 149.90721  , 315.11945  ,
       122.51986  , 217.82234  , 191.9403   , 195.47728  ,  32.077374 ,
        62.741543 , 243.26846  , 175.89969  , 116.563065 ,  83.387024 ,
        33.16661  , 190.56879  , 258.73718  ,  63.555084 ,  63.387985 ,
        95.15662  ,  31.05865  , 157.3874   , 259.49536  , 227.80734  ,
        42.60146  , 189.77126  , 180.61908  , 105.7291   , 193.62384  ,
       133.20132  , 179.25624  ,  61.573063 , 207.74712  , 157.89566  ,
        68.32948  ,  21.734669 ,  34.304142 ,  68.543    , 169.64499  ,
       113.08889  , 168.97858  , 110.57992  , 158.75792  ,  74.94487  ,
        89.74789  , 281.77045  , 116.994675 ,  41.923172 , 127.75321  ,
       195.36853  , 123.36258  , 153.1405   , 124.41798  , 181.5817   ,
       106.87385  , 174.75954  ,  14.741752 , 106.41543  , 289.57278  ,
       216.67465  ,  54.07781  , 158.67047  , 204.8285   , 202.20357  ,
       199.85197  , 207.80447  ,  82.13999  ,  91.27731  ,  40.92862  ,
       225.76418  ,  47.862522 , 202.54718  ,   5.024936 ,  53.90531  ,
       193.24504  , 138.82237  , 157.56708  , 284.23083  , 266.5455   ,
       254.78908  , 191.82477  ,  23.662111 ,  90.72872  , 169.15443  ,
        38.00686  ,  32.261322 ,  42.322975 , 287.3342   ,  77.93282  ,
        36.943302 , 145.32387  , 164.5943   , 203.76175  , 174.37358  ,
        90.49672  , 115.00022  , 112.382744 , 135.9299   , 145.51767  ,
        93.3881   , 188.19092  ,  15.641556 ,  31.275417 , 177.16628  ,
        16.838892 , 237.91605  , 213.15756  , 143.51776  , 175.47258  ,
        69.7851   ,  34.578064 , 129.12901  , 212.79422  , 144.2741   ,
       181.16498  ,  12.781585 ,  89.44776  , 209.6836   , 193.85217  ,
       146.64012  , 215.34494  , 145.52908  , 121.9654   , 204.11887  ,
        89.942345 ,  65.45999  , 134.98154  , 136.04408  ,  17.469643 ,
       195.39352  , 133.10995  , 240.32228  , 111.02496  ,  60.62071  ,
       226.52101  , 213.6106   , 205.80753  ,  98.46944  ,  67.06852  ,
       162.98813  , 137.08073  , 209.82028  , 208.62308  , 169.44052  ,
       171.12627  , 185.15302  ,  46.94463  ,  36.39024  ,  85.81057  ,
        54.524734 ,  37.349224 ,  83.91876  ,  48.86601  , 155.94173  ,
       196.23872  ,  37.975346 , 163.34     , 229.53752  , 210.46796  ,
        39.60403  , 170.5904   , 130.27264  ,  25.229273 , 156.55783  ,
       229.38538  , 199.22278  ,  16.881834 , 248.79738  , 129.90324  ,
        50.573376 ,  92.472084 , 104.27867  ,  41.01979  , 115.94486  ,
        87.93046  , 189.12347  , 225.00719  , 176.0498   ,  37.453613 ,
       247.3853   , 215.89845  , 204.5307   , 139.1964   ,  33.28252  ,
       123.26357  , 117.2473   , 126.87888  , 153.87837  , 155.72589  ,
        89.233986 , 205.20276  ,  25.718464 , 234.67699  , 175.8103   ,
       147.43121  , 200.76196  ,  28.427814 , 144.13564  , 172.39494  ,
        34.4792   , 137.85121  ,  56.103683 , 216.63057  , 325.1365   ,
       225.94785  , 187.56953  , 156.42105  , 244.78642  , 241.913    ,
        45.722927 ,  36.732117 , 128.35736  , 207.73564  ,  43.488396 ,
        30.81386  , 143.40057  ,  80.955696 , 128.45087  , 216.58221  ,
       134.57504  , 329.34003  , 360.4309   , 109.97317  , 335.19702  ,
        13.185562 , 120.01791  , 183.6686   , 229.05011  , 145.85933  ,
       157.56105  , 331.6818   , 195.27428  ,  40.554123 , 220.39932  ,
        36.270878 , 140.63867  , 140.28954  ,  38.231686 ,  42.91553  ,
       187.41847  , 201.27762  ,  45.833347 , 133.74324  , 222.78528  ,
        33.91951  , 106.98847  , 208.73038  ,  15.705059 ,  49.496166 ,
       114.485596 , 106.72403  , 205.44003  , 178.34111  , 141.13516  ,
       210.93535  , 114.817665 , 222.39383  , 139.20224  ,  28.790125 ,
       278.9509   ,  42.03567  , 155.64467  , 104.881676 ,  45.565594 ,
       155.7988   ,  39.35862  ,  25.609783 ,  51.025913 , 128.40106  ,
       206.88824  ,  54.329666 ,   3.9218578,  36.461502 ,  36.90952  ,
       147.71141  , 215.55406  , 201.60622  , 190.01978  , 135.86514  ,
        34.2581   , 161.48613  ,  61.44061  ,  42.935043 , 152.6361   ,
       195.38974  ,  47.305897 ,  17.990395 , 202.15004  ,  91.22958  ,
       195.868    ,  19.705418 , 200.13907  , 133.7516   , 185.27641  ,
       125.96405  , 127.09922  ,  31.51164  , 165.03027  , 205.72919  ,
       230.52414  ,  51.60267  , 117.59775  , 127.03577  , 159.608    ,
        98.49323  ,  43.110893 , 398.1879   , 238.57275  , 229.04213  ,
       146.4465   ,  55.976486 , 205.20471  , 127.7699   , 275.51584  ,
       150.89383  , 148.85426  , 240.29402  , 166.64536  , 165.51909  ,
        52.111675 , 104.15635  ,  79.78687  , 107.077774 ,  50.208355 ,
       194.31996  , 154.03757  , 206.93471  , 123.8252   , 168.76183  ,
       133.14792  , 171.57967  , 124.39888  ,  32.751278 ,  96.207085 ,
        53.046124 , 211.70218  , 138.31866  , 142.04587  ,  68.06717  ,
       315.36655  ,  69.36548  , 101.95532  , 223.1196   ,  79.67262  ,
       143.00836  ,  24.523762 ,  89.111336 ,  54.73898  , 126.592926 ,
       168.99345  , 140.10092  , 245.40988  , 145.8712   , 228.9149   ,
        45.61626  , 131.42848  ,  44.504215 , 165.48204  , 157.06212  ,
        65.780266 ,  37.234585 , 191.56364  ,  30.76126  ,  46.938797 ,
       120.57136  ,  49.08818  , 158.4353   , 124.121666 , 349.57837  ,
       156.00763  , 239.35013  , 177.6351   ,  79.58708  , 197.62346  ,
        51.250748 ,  22.521406 , 149.53746  , 123.11876  , 191.27359  ,
       176.56606  ,  70.24828  , 201.91783  , 208.7205   ,  80.68405  ,
       113.64216  , 115.04944  ,  91.4426   ,  25.131647 , 176.95613  ,
       157.18718  , 114.576004 , 111.80697  , 315.27386  , 212.41666  ,
         5.7288103, 139.0973   ,  65.66613  ,  72.98664  ,  95.35367  ,
       206.22644  , 175.88564  , 192.38339  ,  45.5633   , 137.40346  ,
        84.13902  , 152.46402  , 131.7065   , 155.63028  , 205.12863  ,
       180.1583   , 211.26552  ,  99.85151  , 209.82468  , 233.63261  ,
       191.23372  , 124.146835 , 171.31831  , 119.04735  , 152.63203  ,
        59.179813 , 162.30406  , 136.18011  , 217.01823  , 228.98975  ,
       145.89677  ,  45.599384 ,  54.98645  , 167.6283   , 153.65959  ,
       295.29794  , 151.14284  , 173.68512  , 136.71057  , 103.72608  ,
        92.44632  , 161.1201   , 146.86247  , 250.8819   , 183.72755  ,
       177.10406  , 215.53204  , 167.41026  , 131.854    , 166.98929  ,
        35.76725  , 137.5404   , 159.00235  , 145.61383  , 112.35192  ,
       140.93822  , 155.9989   ,  56.044327 ,  42.182343 ,  61.90877  ,
       196.9123   , 115.7124   ,  42.819683 , 116.20947  , 168.93779  ,
       164.76236  ,  84.485176 ,  28.462612 , 160.76038  ,  21.150534 ,
       249.95375  , 197.35785  , 144.14665  , 258.4782   , 109.3185   ,
       177.40704  , 113.87765  , 237.08385  , 188.38507  , 310.71393  ,
       318.90408  , 168.58136  ,  22.545458 ,  82.0013   , 106.60666  ,
       230.00926  ,  38.917137 , 248.92947  , 138.20705  , 162.49797  ,
        14.776106 , 166.24216  , 196.11185  , 213.35506  , 120.83222  ,
        49.648846 , 171.79338  ,  24.431398 , 196.25018  ,  15.358195 ,
       216.12463  , 105.01187  , 365.4558   , 170.4278   , 282.64978  ,
       132.92087  ,  14.894186 , 167.63173  , 173.67038  ,  31.149212 ,
       108.7017   , 120.488365 , 175.97928  , 142.86394  , 295.62607  ,
       205.3942   , 160.82741  , 177.88826  , 241.04745  ,  40.4495   ,
       113.40262  ,  11.889569 , 203.81367  , 121.79244  ,  24.48914  ,
       143.53032  , 306.37982  , 179.83661  ,  24.275496 ,  85.11984  ,
       172.62862  , 184.54721  ,  60.951706 , 223.41696  , 118.22653  ,
       158.44815  ,  20.636864 , 217.97728  ,  14.453907 , 206.86017  ,
        19.631283 , 193.96426  , 204.52632  , 243.56688  ,  36.6285   ,
       214.20384  ,  20.96808  , 154.02588  ,  71.06332  ,  67.680756 ,
        11.910846 ,  55.549763 , 176.47983  , 130.87546  , 196.19534  ,
       185.76599  , 202.63539  ,  48.513424 , 220.67181  , 165.91351  ,
       106.60933  , 130.70088  , 138.48076  , 273.70255  , 239.64355  ,
       208.2241   ,  97.706635 , 202.95604  , 161.774    ,  30.513786 ,
       183.48683  , 117.646965 ], dtype=float32)

In [386]:
import csv

In [391]:
f = open("Pred_main.csv", "w")

with f:
    writer = csv.writer(f)
    
    writer.writerow(y_pred)