In [330]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from scipy import stats
%matplotlib inline
import sklearn
from sklearn import metrics

In [8]:
from sklearn import linear_model

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
columns = [
    'Short_Description', 
    'Water', 
    'Energy_Kcal', 
    'Protein', 
    'Lipid_Total',
    'Ash', 
    'Carbohydrate',
    'Fiber', 
    'Sugar_Total',
    'Calcium', 
    'Iron', 
    'Magnesium', 
    'Phosphorus',
    'Potassium', 
    'Sodium', 
    'Zinc', 
    'Copper',
    'Manganese', 
    'Selenium', 
    'Vitamin_C', 
    'Thiamin',
    'Riboflavin', 
    'Niacin', 
    'Panto_Acid', 
    'Vitamin_B6',
    'Folate_Total', 
    'Folic_Acid', 
    'Food_Folate',
    'Folate_DFE', 
    'Choline_Total', 
    'Vitamin_B12', 
    'Vitamin_A_IU',
    'Vitamin_A_RAE', 
    'Retinol', 
    'Alpha_Carot', 
    'Beta_Carot',
    'Beta_Crypt', 
    'Lycopene', 
    'Lut+Zea', 
    'Vitamin_E',
    'Vitamin_D', 
    'Vitamin_D_IU', 
    'Vitamin_K', 
    'Fatty_Acid_Sat', 
    'Fatty_Acid_Mono',
    'Fatty_Acid_Poly', 
    'Cholestrl', 
    'GmWt_1', 
    'GmWt_Desc1', 
    'GmWt_2',
    'GmWt_Desc2', 
    'Refuse_Percentage'  
]

In [316]:
df_train = pd.read_csv('train.csv')
df_train.columns = columns

In [12]:
df_train.head()

,Short_Description,Water,Energy_Kcal,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,...,Vitamin_K,Fatty_Acid_Sat,Fatty_Acid_Mono,Fatty_Acid_Poly,Cholestrl,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Percentage
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,393,12.00,6.00,3.90,73.40,5.2,13.75,651.0,...,3.0,1.267,1.429,2.186,0.0,2.0,1 tbsp,15.0,.5 oz,0.0
1,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,2.4,NaN,58.0,...,NaN,0.130,0.103,0.202,0.0,146.0,1 cup,33.0,1 piece,0.0
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,196,24.06,11.09,1.56,0.00,0.0,0.00,13.0,...,0.0,2.866,4.878,1.673,130.0,89.0,1 thigh,85.0,"1 serving, (3 oz)",29.0
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,280,20.43,21.35,3.51,0.00,0.0,0.00,10.0,...,0.0,7.670,10.140,2.320,58.0,140.0,1 cup,85.0,3 oz,27.0
4,"VINEGAR,DISTILLED",94.78,18,0.00,0.00,0.02,0.04,0.0,0.04,6.0,...,0.0,0.000,0.000,0.000,0.0,14.0,1 tbsp,238.0,1 cup,0.0

In [13]:
df_train.shape

(7756, 52)

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7756 entries, 0 to 7755
Data columns (total 52 columns):
Short_Description    7756 non-null object
Water                7751 non-null float64
Energy_Kcal          7756 non-null int64
Protein              7756 non-null float64
Lipid_Total          7756 non-null float64
Ash                  7461 non-null float64
Carbohydrate         7756 non-null float64
Fiber                7168 non-null float64
Sugar_Total          6013 non-null float64
Calcium              7443 non-null float64
Iron                 7630 non-null float64
Magnesium            7139 non-null float64
Phosphorus           7234 non-null float64
Potassium            7390 non-null float64
Sodium               7681 non-null float64
Zinc                 7123 non-null float64
Copper               6630 non-null float64
Manganese            5828 non-null float64
Selenium             6175 non-null float64
Vitamin_C            7053 non-null float64
Thiamin              7138 non-null float64
Riboflavin           7156 non-null float64
Niacin               7137 non-null float64
Panto_Acid           5825 non-null float64
Vitamin_B6           6909 non-null float64
Folate_Total         6639 non-null float64
Folic_Acid           5975 non-null float64
Food_Folate          6178 non-null float64
Folate_DFE           5958 non-null float64
Choline_Total        4095 non-null float64
Vitamin_B12          6685 non-null float64
Vitamin_A_IU         7145 non-null float64
Vitamin_A_RAE        6387 non-null float64
Retinol              6134 non-null float64
Alpha_Carot          4732 non-null float64
Beta_Carot           4815 non-null float64
Beta_Crypt           4724 non-null float64
Lycopene             4701 non-null float64
Lut+Zea              4679 non-null float64
Vitamin_E            5060 non-null float64
Vitamin_D            4789 non-null float64
Vitamin_D_IU         4790 non-null float64
Vitamin_K            4475 non-null float64
Fatty_Acid_Sat       7444 non-null float64
Fatty_Acid_Mono      7149 non-null float64
Fatty_Acid_Poly      7157 non-null float64
Cholestrl            7426 non-null float64
GmWt_1               7537 non-null float64
GmWt_Desc1           7538 non-null object
GmWt_2               4317 non-null float64
GmWt_Desc2           4317 non-null object
Refuse_Percentage    7723 non-null float64
dtypes: float64(48), int64(1), object(3)
memory usage: 3.1+ MB

# ШАГ 1
Посмотреть количество пропусков и как их заполнять; проверить на наличие дубликатов.

In [17]:
quantity_nans = dict(df_train.isnull().sum())
quantity_nans_list = list(quantity_nans.items())
quantity_nans_list.sort(key = lambda x: x[1], reverse = True)
for item in quantity_nans_list:
    print(item[0],':',item[1])

Choline_Total : 3661
GmWt_2 : 3439
GmWt_Desc2 : 3439
Vitamin_K : 3281
Lut+Zea : 3077
Lycopene : 3055
Beta_Crypt : 3032
Alpha_Carot : 3024
Vitamin_D : 2967
Vitamin_D_IU : 2966
Beta_Carot : 2941
Vitamin_E : 2696
Panto_Acid : 1931
Manganese : 1928
Folate_DFE : 1798
Folic_Acid : 1781
Sugar_Total : 1743
Retinol : 1622
Selenium : 1581
Food_Folate : 1578
Vitamin_A_RAE : 1369
Copper : 1126
Folate_Total : 1117
Vitamin_B12 : 1071
Vitamin_B6 : 847
Vitamin_C : 703
Zinc : 633
Niacin : 619
Thiamin : 618
Magnesium : 617
Vitamin_A_IU : 611
Fatty_Acid_Mono : 607
Riboflavin : 600
Fatty_Acid_Poly : 599
Fiber : 588
Phosphorus : 522
Potassium : 366
Cholestrl : 330
Calcium : 313
Fatty_Acid_Sat : 312
Ash : 295
GmWt_1 : 219
GmWt_Desc1 : 218
Iron : 126
Sodium : 75
Refuse_Percentage : 33
Water : 5
Short_Description : 0
Energy_Kcal : 0
Protein : 0
Lipid_Total : 0
Carbohydrate : 0

In [18]:
np.round(100 - (df_train.dropna().shape[0] * 100 / df_train.shape[0] ))

75.0

Если мы решим удалить все пропуски, мы удалим 75% датасета, поэтому нам необходимо заполнять пропуски.

In [74]:
print('Количество дубликатов в датасете: {}'.format(df_train.shape[0] - df_train.drop_duplicates().shape[0]))

Количество дубликатов в датасете: 0

Прежде чем заполнять данные с помощью SimpleImputer, необходимо разобраться с 2 столбцами с категориальными данными. Будет оптимально взять столбцы с категориальными признаками, заполнить na в этих столбцах SimpleImputer(category='most_frequent'), затем разбить их OneHotEncoder ( может быть нужно будет сначала использовать LabelEncoder)
затем все остальные столбцы заполнить SimpleImputer()

In [22]:
from sklearn.impute import SimpleImputer

In [180]:
most_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
median = SimpleImputer(missing_values=np.nan, strategy='median')

In [181]:
X_train_categorial = df_train[['GmWt_Desc1','GmWt_Desc2']]

In [182]:
most_frequent.fit(X_train_categorial)
X_train_filled_categorial = most_frequent.transform(X_train_categorial)

In [78]:
from sklearn.preprocessing import OneHotEncoder

In [210]:
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X_train_filled_categorial)
X_train_filled_categorial_ohe  = ohe.transform(X_train_filled_categorial)
X_train_filled_categorial_ohe

<7756x1711 sparse matrix of type '<class 'numpy.float64'>'
	with 15512 stored elements in Compressed Sparse Row format>

In [184]:
X_train_filled_categorial_ohe.toarray().shape

(7756, 1711)

In [185]:
df_categorial_filled_features = pd.DataFrame(X_train_filled_categorial_ohe.toarray())

df_categorial_filled_features.columns = list(ohe.categories_[0]) + list(ohe.categories_[1])
df_categorial_filled_features.shape

(7756, 1711)

Удалим категориальные столбцы и таргет из нашего датафрейма, заменив их на X_train_filled_categorial_ohe

In [186]:
y_train = df_train['Energy_Kcal'].values
len(y_train)

7756

In [187]:
columns_to_del = ['Short_Description','GmWt_Desc1','GmWt_Desc2', 'Energy_Kcal']
for column in columns_to_del:
    if column in df_train:
        del df_train[column]
df_train.shape

(7756, 48)

In [188]:
df_train.shape, df_categorial_filled_features.shape

((7756, 48), (7756, 1711))

In [189]:
df_train_without_cat = pd.concat([df_train, df_categorial_filled_features],axis=1)
df_train_without_cat.shape

(7756, 1759)

In [190]:
df_train_without_cat

,Water,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,Iron,Magnesium,...,6 medium,6 pieces,6 saltines,7 pieces,8 crayfish,8 fl oz,"8 fl oz, (1 serving)",8 oz,"8 pods, (3"" long)",9 sprigs
0,4.70,12.00,6.00,3.90,73.40,5.2,13.75,651.0,47.50,118.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,90.20,2.52,0.62,2.04,4.62,2.4,NaN,58.0,3.13,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,63.89,24.06,11.09,1.56,0.00,0.0,0.00,13.0,0.97,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,54.73,20.43,21.35,3.51,0.00,0.0,0.00,10.0,0.95,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,94.78,0.00,0.00,0.02,0.04,0.0,0.04,6.0,0.03,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751,77.33,17.54,4.93,1.08,0.00,0.0,NaN,60.0,0.90,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7752,63.95,20.59,15.04,0.87,0.00,0.0,0.00,23.0,1.47,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7753,74.00,5.06,7.59,2.09,11.27,1.8,NaN,119.0,0.64,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7754,79.36,0.28,0.12,0.33,19.91,2.6,NaN,4.0,0.43,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7755,74.03,24.40,0.49,1.64,0.00,0.0,0.00,4.0,0.77,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [191]:
median.fit(df_train_without_cat)
X_train_prepared = median.transform(df_train_without_cat)

In [192]:
X_train_prepared

array([[ 4.7 , 12.  ,  6.  , ...,  0.  ,  0.  ,  0.  ],
       [90.2 ,  2.52,  0.62, ...,  0.  ,  0.  ,  0.  ],
       [63.89, 24.06, 11.09, ...,  0.  ,  0.  ,  0.  ],
       ...,
       [74.  ,  5.06,  7.59, ...,  0.  ,  0.  ,  0.  ],
       [79.36,  0.28,  0.12, ...,  0.  ,  0.  ,  0.  ],
       [74.03, 24.4 ,  0.49, ...,  0.  ,  0.  ,  0.  ]])

# ШАГ 2
Произведём нормировку данных

In [331]:
from sklearn import feature_selection

In [340]:
VT = feature_selection.VarianceThreshold(.001).fit(X_train_prepared)

In [341]:
X_train_VT = VT.transform(X_train_prepared)
X_train_VT.shape

(7756, 209)

In [342]:
scaler = preprocessing.StandardScaler()
scaler.fit(X_train_VT)
X_train_norm = scaler.transform(X_train_VT)

# ШАГ 3
Попробуем посчитать регрессию на наших данных X_train_prepared, y_train

In [71]:
from sklearn.model_selection import GridSearchCV

In [66]:
import xgboost

In [360]:
model = xgboost.XGBRegressor(
    learning_rate = 0.1,
    n_estimators = 1000,
    max_depth = 8,
    n_jobs = -1
)
model.fit(X_train_norm, y_train)

[14:56:52] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [361]:
metrics.mean_absolute_error(y_train, model.predict(X_train_norm))

0.09356110597960171

In [306]:
model.predict(X_train_norm)

array([394.2068  ,  29.209696, 196.61113 , ..., 133.05824 ,  75.86238 ,
       108.42767 ], dtype=float32)

# Шаг 4
Предскажем данные на тестовой выборке

In [312]:
df_test = pd.read_csv('test.csv')
df_test.columns = columns

In [228]:
df_test.head()

,Short_Description,Water,Energy_Kcal,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,...,Vitamin_K,Fatty_Acid_Sat,Fatty_Acid_Mono,Fatty_Acid_Poly,Cholestrl,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Percentage
0,SILK KEY LIME SOY YOGURT,77.59,2.35,1.18,1.24,17.65,0.6,12.35,176.0,0.64,...,0.000,NaN,NaN,0.0,170.0,1 container,NaN,NaN,0.0,NaN
1,"FAST FOODS,SALAD,VEG,TOSSED,WO/DRSNG",95.51,1.25,0.07,0.53,3.22,NaN,NaN,13.0,0.63,...,0.010,0.004,0.034,0.0,104.0,.75 cup,207.0,1.5 cup,0.0,NaN
2,"CUTTLEFISH,MXD SP,CKD,MOIST HEAT",61.12,32.48,1.40,3.36,1.64,0.0,NaN,180.0,10.84,...,0.236,0.162,0.268,224.0,85.0,3 oz,NaN,NaN,0.0,NaN
3,"GROUND TURKEY,93% LN,7% FAT,RAW",72.63,18.73,8.34,0.92,0.00,0.0,0.00,21.0,1.17,...,2.170,2.843,2.537,74.0,28.0,1 oz,453.0,1 lb,0.0,NaN
4,"TURKEY,RTL PARTS,ENHANCED,BREAST,MEAT ONLY,CKD...",69.99,27.94,2.08,1.40,0.00,0.0,0.00,15.0,0.59,...,0.428,0.670,0.668,74.0,85.0,3 oz,852.0,1 breast,24.0,NaN

In [229]:
X_test_categorial = df_test[['GmWt_1','GmWt_2']]

In [230]:
X_test_categorial.dtypes

GmWt_1    object
GmWt_2    object
dtype: object

In [231]:
most_frequent

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [232]:
X_test_filled_categorial = most_frequent.transform(X_test_categorial)

In [233]:
X_test_filled_categorial_ohe  = ohe.transform(X_test_filled_categorial)

df_categorial_filled_features_test = pd.DataFrame(X_test_filled_categorial_ohe.toarray())
df_categorial_filled_features_test.columns = list(ohe.categories_[0]) + list(ohe.categories_[1])

columns_to_del = ['Short_Description','GmWt_1','GmWt_2', 'Energy_Kcal']
for column in columns_to_del:
    if column in df_test:
        del df_test[column]

df_test.shape, df_categorial_filled_features_test.shape

((862, 48), (862, 1711))

In [234]:
df_test_without_cat = pd.concat([df_test, df_categorial_filled_features_test],axis=1)
df_test_without_cat.shape

(862, 1759)

In [236]:
df_test_without_cat

,Water,Protein,Lipid_Total,Ash,Carbohydrate,Fiber,Sugar_Total,Calcium,Iron,Magnesium,...,6 medium,6 pieces,6 saltines,7 pieces,8 crayfish,8 fl oz,"8 fl oz, (1 serving)",8 oz,"8 pods, (3"" long)",9 sprigs
0,77.59,1.18,1.24,17.65,0.6,12.35,176.0,0.64,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,95.51,0.07,0.53,3.22,NaN,NaN,13.0,0.63,11.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,61.12,1.40,3.36,1.64,0.0,NaN,180.0,10.84,60.0,580.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,72.63,8.34,0.92,0.00,0.0,0.00,21.0,1.17,21.0,193.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,69.99,2.08,1.40,0.00,0.0,0.00,15.0,0.59,27.0,219.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,7.57,4.40,4.14,72.58,8.5,20.43,124.0,3.13,113.0,358.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
858,59.24,6.48,1.24,0.00,0.0,0.00,40.0,1.47,28.0,252.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
859,87.86,0.19,1.03,9.56,1.4,4.73,22.0,0.24,11.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
860,1.70,27.20,NaN,67.60,1.8,50.10,NaN,1.60,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
861,73.52,4.56,3.63,0.00,0.0,0.00,6.0,0.94,17.0,224.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [239]:
X_test_prepared = median.transform(df_test_without_cat)

In [345]:
X_test_VT = VT.transform(X_test_prepared)
X_test_norm = scaler.transform(X_test_VT)

In [364]:
model

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [365]:
y_pred = pd.DataFrame(model.predict(X_test_norm), df_test['Short_Description'])

In [366]:
y_pred

                                                             0
Short_Description
SILK KEY LIME SOY YOGURT                             72.774673
FAST FOODS,SALAD,VEG,TOSSED,WO/DRSNG                 17.339556
CUTTLEFISH,MXD SP,CKD,MOIST HEAT                    155.802094
GROUND TURKEY,93% LN,7% FAT,RAW                     115.865860
TURKEY,RTL PARTS,ENHANCED,BREAST,MEAT ONLY,CKD,...  123.425125
...                                                        ...
CEREALS,QUAKER,OATMEAL,REAL MEDLEYS,SMMR BERRY,DRY  202.956039
VEAL,SHLDR,BLADE,LN,CKD,BRSD                        161.774002
ONIONS,CKD,BLD,DRND,W/SALT                           30.513786
KEEBLER,FUDGE SHOPPE,JUMBO FUDGE STKS,MINT          183.486832
PORK,CURED,HAM,EX LN (APPROX 4% FAT),CND,UNHTD      117.646965

[862 rows x 1 columns]